html{
    font-size: calc( 100vw / 1440);
}
#f{
    padding-top: 40rem;
    border-top: 1px solid black;
    padding-inline: 32rem;

}
#f figure{
    width: 300rem;
    & img{
        width:100%;
        height: 100%;
        object-fit:cover;
    }
}

#f > div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#f > a{
    flex-basis:100%;
    font-size: 14rem;
    color: black;

}


.f_s{
    display:flex;
    gap: 8rem;
    flex-basis: 100%;
}
.f_s svg{
    width: 24rem;
}