#f{
    padding-top: 40rem;
    border-top: 1px solid black;
    padding-inline: 32rem;

}
#f figure{
    width: 300rem;
    & img{
        width:100%;
        height: 100%;
        object-fit:cover;
    }
}

#f > div{
    display:flex
    justify-content: space-between;
    align-items: center;
}
