
#f{
    font-size: calc( 100vw / 1440);
    padding-top: 40em;
    border-top: 1px solid black;
    padding-inline: 32em;
    padding-bottom: 24em;
    @media (width > 770px){
        
    }

}
#f figure{
    width: 300em;
    & img{
        width:100%;
        height: 100%;
        object-fit:cover;
    }
    @media (width > 770px){
        margin-inline:auto;
    }
}

#f > div{
    margin-top: 40em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    @media (width > 770px){
        flex-direction: column;
    }
}
#f > div > a{
    font-size: 14em;
    color: black;
    &:first-child{
        flex-basis: 100%;
    }
    &:last-of-type{
        flex-shrink: 0;
    }
}


.f_s{
    display:flex;
    gap: 8em;
    flex-basis: 100%;
    justify-content:flex-end;
}
.f_s svg{
    width: 24em;
}